@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    width: 100%;
}

.paddingsides{
    padding-left: 15px;
    padding-right: 15px;
}
#center{
    text-align: center;
}
#right{
    text-align: left;
}
.backimagedesk {display: none;}
.backimage {
    width: 100%;
    position: relative;
}
.cardback {
    width: 80%;
    position: absolute;
    margin-top: -235px;
    margin-left: 60px;
}
.cardfront {
    width: 80%;
    position: absolute;
    margin-top: -142px;
}
.logo {
    width: 12%;
    position: absolute;
    margin-top: -125px;
    margin-left: 30px;
}
section{
    margin-top: 10vh;
    width: 100%;
}
label {
    padding: 10px 10px 10px 0;
    display: inline-block;}

input[type=text] {
    max-width: 93%;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
  }

input[type=date] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Space Grotesk', sans-serif;
}

::placeholder {
    font-family: 'Space Grotesk', sans-serif;}
.exp {
        display: flex;
        flex-direction: row;
        width: 97%;
    }
.button {
    margin-top: 25px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(44, 15, 56);
}
.button:hover {
    background-color: rgb(27, 21, 112);
    color: white;}

@media only screen and (min-width: 600px) {
    body {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 90%;
        }
    .backimagedesk{
        display: flex;
        height: 100vh;
        }
    section {
        margin-top: 30vh;
        margin-left: 45vh;
        width: 35%;}

    .exp {
        display: flex;
        flex-direction: row;
         }

    .backimage {display: none;}
    
    .cardback {
        display: flex;
        width: 45vh;
        margin-top: -370px;
        margin-left: 15vw;
        }
    .cardfront {
        display: flex;
        width: 45vh;
        margin-top: -600px;
        margin-left: 10vw;}

        .logo {
            display: flex;
            width: 7vh;
            margin-top: -580px;
            margin-left: 26vh;
        }

    }