* {
    padding: 0;
    margin: 0;
}
header {background-color: black;
        color: white;
        padding: 10px;
        border-radius: 5px;}

.dropdown {position: relative;
            display: inline-block;}

button {padding: 20px 30px;
        margin-top: 5px;
        border: none;
        background-color:cadetblue;
        color:antiquewhite;
        }

.drpbtn:hover {background-color:rgb(23, 124, 128);}

.drpcontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}

.drpcontent a {
            text-decoration: none;
            padding: 7px;
            background-color: darkgray;
            color: aliceblue;
            display: block;}

a:hover {background-color: rgb(65, 57, 57);}

.dropdown:hover .drpcontent {display: block;}